.cards {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1350px) {
  .cards {
    gap: 20px;
  }
}

.logo {
  text-align: center;
  display: block;
  min-width: fit-content;
}

.item img {
  width: 200px;
}

.margin {
  margin-top: 30px;
}

.flip {
  text-align: center;
  display: block;
  min-width: fit-content;
}

.logo img {
  width: 30%;
}

.flip img {
  width: 30%;
}

.item {
  text-align: center;
}

.bottom_padding {
  padding-bottom: 20px;
}

.button {
  background-image: linear-gradient(135deg, yellow, orange, pink);
  width: 120px;
  margin: 0 auto;
  font-size: larger;
}

.button a {
  text-decoration: none;
  color: black;
}

.item h2 {
  margin: 0;
}

.gap {
  display: grid;
  gap: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .cards {
    display: grid;
  }
}

@media screen and (max-width: 650px) {
}
